<p><%= @resource.email %> さん</p>

<p>パスワード再設定のリクエストを受け付けました。以下のリンクから再設定できます。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合は、このメールを破棄してください。</p>
<p>上のリンクにアクセスして新しいパスワードを設定するまで、現在のパスワードは変更されません。</p>
